<%= form_for [:admin, @admin_assign_doc] do |form| %>

  <div class="field" class="form-group">
    <%= form.label :user %>
    <%= form.select :user_id, User.all.where(role: 'User').pluck(:email,:id) %>
  </div>


  <div class="field" class="form-group">
    <%= form.label :support_request %>
    <%= form.select :support_request_id, current_user.support_requests.pluck(:req_type,:id) %>
  </div>

<button type="submit" id="admin_assign_decs" class="btn btn-primary">Save</button>

<% end %>
