<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:bio] == nil %>

    <div class="field" class="form-group">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field" class="form-group">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div class="field" class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="field" class="form-group">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: "form-control", maxlength: "15" %>
    </div>

    <% if current_user.role == 'Manager' || current_user.role == 'Super User' %>
      <div class="field" class="form-group">
        <%= form.label :role %>
        <%= form.select :role, User::ROLES, {}, {class: "form-control"} %>
      </div>

      <div class="field" class="form-group">
        <%= form.label "Currently Active" %>
        <%= form.select :deactivated, options_for_select([['Yes',false],['No',true]], selected: @user.deactivated), {}, {class: "form-control"} %>
      </div>

      <div class="field" class="form-group">
        <%= form.label :earnings %>
        <%= form.number_field :earnings, step: :any, class: "form-control" %>
      </div>
    <% end %>

    <div class="field" class="form-group">
      <%= form.label :profile_image %>
      <%= form.file_field :profile_image, class: "form-control" %>
    </div>

    <div class="field" class="form-group">
      <%= form.label :emergency_contact_name %>
      <%= form.text_field :emergency_contact_name, class: "form-control", maxlength: "50" %>
    </div>

    <div class="field" class="form-group">
      <%= form.label :emergency_contact_phone %>
      <%= form.text_field :emergency_contact_phone, class: "form-control", maxlength: "20" %>
    </div>

  <% end %>

  <div class="field" class="form-group">
    <%= form.label :bio, "Bio" %>
    <%= form.rich_text_area :bio, rows:40, class: "form-control trix-editor trix-content" %>
  </div>


<button type="submit" class="btn btn-primary">Save</button>

<% end %>
