
<p id="notice"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>

<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= link_to "id", :order_by => "user.id", :dir => @dir %></th>
      <th><%= link_to "First Name ", :order_by => "first_name", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Last Name", :order_by => "last_name", :dir => @dir %></th>
      <th><%= link_to "Email", :order_by => "email", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Active", :order_by => "deactivated", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "phone", :order_by => "phone", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Role", :order_by => "role", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Dated Added", :order_by => "created_at", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"></th>
      <% if current_user.role == "Super User"%>
        <th class="d-none d-sm-table-cell"></th>
        <th class="d-none d-sm-table-cell"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= user.id %></td>
        <td><%= link_to user.first_name, user %></td>
        <td class="d-none d-sm-table-cell"><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td class="d-none d-sm-table-cell"><%= user.active_status %></td>
        <td class="d-none d-sm-table-cell"><%= user.phone %></td>
        <td class="d-none d-sm-table-cell"><%= user.role %></td>
        <td class="d-none d-sm-table-cell"><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td class="d-none d-sm-table-cell">
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-sm" %>
        </td>
        <% if current_user.role == "Super User"%>
          <td class="d-none d-sm-table-cell">
            <%= link_to 'Change Password', edit_admin_user_path(user), class: "btn btn-primary btn-sm" %>
          </td>
          <td class="d-none d-sm-table-cell">
            <%= link_to 'Assign Request', admin_user_assign_supporting_doc_path(user), class: "btn btn-primary btn-sm" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, window:1, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>

</div>

