
<p id="notice"><%= notice %></p>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>

<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th class="d-none d-sm-table-cell">Last Name</th>
      <th>Email</th>
      <th class="d-none d-sm-table-cell">Active</th>
      <th class="d-none d-sm-table-cell">Phone</th>
      <th class="d-none d-sm-table-cell">Role</th>
      <th class="d-none d-sm-table-cell"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= user.id %></td>
        <td><%= link_to user.first_name, user %></td>
        <td class="d-none d-sm-table-cell"><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td class="d-none d-sm-table-cell"><%= user.active_status %></td>
        <td class="d-none d-sm-table-cell"><%= user.phone %></td>
        <td class="d-none d-sm-table-cell"><%= user.role %></td>
        <td class="d-none d-sm-table-cell">
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, window:1, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>

</div>

