
<%= form_for User.new, url: users_path, method: :get do |form| %>
  <div class="form-group field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control col-md-6", autocomplete:"off" %>
  </div>

  <div class="form-group field">
    <%= form.label :end_date %>
     <%= form.date_field :end_date, class: "form-control col-md-6", autocomplete:"off" %>
  </div>

  <%= form.submit "Time Off Notification Requests", class: "btn btn-primary btn-sm mb-5" %>
<% end %>


<% if params["user"] %>
  <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @time_of_notifications) do |date, meetings| %>
    <%= date.to_formatted_s(:short) %>
    <% color = ["text-primary", "text-secondary", "text-success", "text-danger", "text-warning", "text-info"] %>
    <% meetings.each do |meeting| %>
      <% name = meeting.user.first_name %>
      <div class="<%= color[name.length % color.length] %>">
        <%=link_to name, user_path(meeting.user) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>

<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= link_to "id", :order_by => "user.id", :dir => @dir %></th>
      <th><%= link_to "First Name ", :order_by => "first_name", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Last Name", :order_by => "last_name", :dir => @dir %></th>
      <th><%= link_to "Email", :order_by => "email", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Active", :order_by => "deactivated", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "phone", :order_by => "phone", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Role", :order_by => "role", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"><%= link_to "Dated Added", :order_by => "created_at", :dir => @dir %></th>
      <th class="d-none d-sm-table-cell"></th>
      <% if current_user.role == "Super User"%>
        <th class="d-none d-sm-table-cell"></th>
        <th class="d-none d-sm-table-cell"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.first_name, user %></td>
        <td class="d-none d-sm-table-cell"><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td class="d-none d-sm-table-cell"><%= user.active_status %></td>
        <td class="d-none d-sm-table-cell"><%= user.phone %></td>
        <td class="d-none d-sm-table-cell"><%= user.role %></td>
        <td class="d-none d-sm-table-cell"><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td class="d-none d-sm-table-cell">
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-sm" %>
        </td>
        <% if current_user.role == "Super User"%>
          <td class="d-none d-sm-table-cell">
            <%= link_to 'Change Password', edit_admin_user_path(user), class: "btn btn-primary btn-sm" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, window:1, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>

</div>

