<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped table-hover">



<tr>
  <td>
    <strong>First name:</strong>
  </td>
  <td>
      <%= @user.first_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Last name:</strong>
  </td>
  <td>
      <%= @user.last_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Email:</strong>
  </td>
  <td>
      <%= @user.email %>
    </td>
</tr>


<tr>
  <td>
    <strong>Role:</strong>
  </td>
  <td>
      <%= @user.role %>
    </td>
</tr>

<tr>
  <td>
    <strong>Profile:</strong>
  </td>
  <td>
      <%= image_tag @user.profile_image, class: "profile_pic" %>
  </td>
</tr>





</table> 

<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %> |
<%= link_to 'Back', users_path, class:"btn btn-primary" %>

