<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped table-hover">



<tr>
  <td>
    <strong>First name:</strong>
  </td>
  <td>
      <%= @user.first_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Last name:</strong>
  </td>
  <td>
      <%= @user.last_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Email:</strong>
  </td>
  <td>
      <%= @user.email %>
    </td>
</tr>

<tr>
  <td>
    <strong>Phone:</strong>
  </td>
  <td>
      <%= @user.phone %>
    </td>
</tr>


<tr>
  <td>
    <strong>Role:</strong>
  </td>
  <td>
      <%= @user.role %>
    </td>
</tr>

<tr>
  <td>
    <strong>Bio:</strong>
  </td>
  <td>
      <%= @user.bio %>
    </td>
</tr>


<tr>
  <td>
    <strong>Profile Pic:</strong>
  </td>
  <td>
      <%= image_tag @user.profile_image, class: "profile_pic" if @user.profile_image.attached? %>
  </td>
</tr>

</table> 

<div class="btn-div">
  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %> |
  <%= link_to 'Back', users_path, class:"btn btn-primary" %>
</div>

<% if current_user.role == 'Admin' %>

  <div>
    <% @support_requests = @user.support_requests.includes(:user, :supporting_doc_blob).limit(10).order("id desc") %>
    <%= render "/support_requests/index" %>
  </div>

  <div>
    <% @user_docs = @user.user_docs.includes(:user, :attachment_blob).limit(10).order("id desc") %>
    <%= render "/user_docs/index" %>
  </div>

<% end %>