<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped">



<tr>
  <td>
    <strong>Profile Pic:</strong>
  </td>
  <td>
      <%= @user.profile_image.attached? ? image_tag(@user.profile_image, class: "profile_pic") : "Not Uploaded" %>
  </td>
</tr>


<tr>
  <td>
    <strong>First Name:</strong>
  </td>
  <td>
      <%= @user.first_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Last Name:</strong>
  </td>
  <td>
      <%= @user.last_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Email:</strong>
  </td>
  <td style="word-break: break-word;">
      <%= @user.email %>
    </td>
</tr>

<tr>
  <td>
    <strong>Phone:</strong>
  </td>
  <td>
      <%= @user.phone %>
    </td>
</tr>


<% if !params[:print] %>

  <tr>
    <td>
      <strong>Role:</strong>
    </td>
    <td>
        <%= @user.role %>
      </td>
  </tr>

  <tr>
    <td>
      <strong>Emergency Contact Name:</strong>
    </td>
    <td>
        <%= @user.emergency_contact_name %>
      </td>
  </tr>

  <tr>
    <td>
      <strong>Emergency Contact Phone:</strong>
    </td>
    <td>
        <%= @user.emergency_contact_phone %>
      </td>
  </tr>

  <tr>
    <td>
      <strong>Currently Active:</strong>
    </td>
    <td>
        <%= @user.active_status %>
      </td>
  </tr>

<% end %>

<tr>
  <td>
    <strong>Bio:</strong>
  </td>
  <td>
      <%= @user.bio %>
    </td>
</tr>


</table>


<div class="btn-div">
  <% if params[:print].present? %>
    <%# <button class="btn btn-primary" onclick="window.print()">Print</button> %>
  <% else %>
    <% if current_user.role == 'Manager' %>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
    <% end %>
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %> |
    <%= link_to 'Back', users_path, class:"btn btn-primary" %> |
    <%= link_to 'Print', user_path(@user, print:true), target:"_blank", class:"btn btn-primary" %>
  <% end %>

</div>


<% if (current_user.role == 'Super User') && !params[:print].present? %>

  <div>
    <% @support_requests = @user.support_requests.includes(:user, :supporting_doc_blob).limit(10).order("id desc") %>
    <%= render "/support_requests/index" %>
  </div>

  <div>
    <% @user_docs = @user.user_docs.includes(:user, :attachment_blob).limit(10).order("id desc") %>
    <%= render "/user_docs/index" %>
  </div>

<% end %>

<% user_role = @user.role == "Super User" || @user.role == "Manager" %>
<% if @user.assign_support_requests.present? && user_role %>
  <h1 class="font-bold mb-3 mt-3 text-center">Assign Requests</h1>
    <div id="assign_requests">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                <th>Assign Req#</th>
                <th>Support Req#</th>
                <th>Req Name</th>
                </tr>
            </thead>

            <tbody>
                <% @user.assign_support_requests.each do |assign_requests| %>
                    <tr>
                    <td><%= assign_requests.id %></td>
                    <td><%= assign_requests.support_request.id %></td>
                    <td><%= link_to assign_requests.support_request.support_request_type.name, support_request_path(assign_requests.support_request) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<%end%>