                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-3 text-gray-800 mb-md-0 font-bold">CARE MOUNTAIN DASHBOARD</h1>
                        <%= link_to 'New Support Request', new_support_request_path, class: "btn btn-primary" %>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <a class="text-capitalize h5 mb-0 font-weight-bold text-gray-800" rel="nofollow" href="tel:+1888-543-9406w-888">
                                    <div class="card-body d-md-none">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                        clock in or clock out Call</div>
                                                        <span class="fonts--size">1-888-543-9406</span>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-phone fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <div class="card-body d-hide">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    clock in or clock out Call</div>
                                            <a class="text-capitalize h5 mb-0 font-weight-bold text-gray-800" target="_blank" rel="nofollow" href="https://s3-us-west-1.amazonaws.com/public.caregiverportal.lcnurseworks/CG+Clock+in+and+clock+out.pdf">
                                                1-888-543-9406
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-phone fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <%= link_to edit_user_path(current_user, {"bio":true}), class:"d-md-none" do %>
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    CAREGIVER BIO AND PROFILE PICTURE</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 fonts--size">
                                                    VIEW AND EDIT
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-address-card fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                <% end%>
                                <div class="card-body d-hide">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                BIO AND PROFILE PICTURE</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to "VIEW AND EDIT", edit_user_path(current_user, {"bio":true}) %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <%= link_to user_docs_path, class:"d-md-none" do %>
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 fonts--size">YOUR DOCUMENTS</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                <% end%>
                                <div class="card-body d-hide">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">YOUR DOCUMENTS
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= link_to current_user.user_docs.count, user_docs_path %></div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: <%= (current_user.user_docs.count * 100 / 4)  %>" aria-valuenow="<%= (current_user.user_docs.count * 100 / 4)  %>" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <%= link_to support_requests_path, class:"d-md-none" do %>
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                    </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 fonts--size">YOUR SUPPORT REQUESTS</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                <% end%>
                                <div class="card-body d-hide">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                YOUR SUPPORT REQUESTS</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to current_user.support_requests.open.count, support_requests_path %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Notification of material event</h6>
                                </div>
                                <div class="card-body">
                                    <p>To Notify Care Mountain Of Any Material Event In Client Condition, Use The Form Below</p>
                                    <a class="btn btn-primary btn-lg" target="_blank" rel="nofollow" href=" https://forms.gle/mE7MS9TKoCC7EVjJA">Change in Client Condition Form
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">INSTRUCTIONS FOR CLOCKING IN AND OUT</h6>
                                </div>
                                <div class="card-body">
                                    <p>Instructions on clocking in and out of shift</p>
                                    <a class="btn btn-primary btn-lg" target="_blank" rel="nofollow" href="https://s3-us-west-1.amazonaws.com/public.caregiverportal.lcnurseworks/CG+Clock+in+and+clock+out.pdf">Clocking in and out Instructions
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Caregiver Contractor handbook</h6>
                                </div>
                                <div class="card-body">
                                    <p>Download Current Caregiver Contractor Handbook</p>
                                    <a class="btn btn-primary btn-lg" target="_blank" rel="nofollow" href="https://s3-us-west-1.amazonaws.com/public.caregiverportal.lcnurseworks/Caregiver_Contractor_HANDBOOK.pdf">Caregiver Contractor Handbook
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">CNA Skills Assessment</h6>
                                </div>
                                <div class="card-body">
                                    <p>To Submit CNA Skills Assessment, Use The Form Below</p>
                                    <a class="btn btn-primary btn-lg" target="_blank" rel="nofollow" href="https://s3-us-west-1.amazonaws.com/public.caregiverportal.lcnurseworks/Caregiver+Skills+Self+Assessment.pdf">CNA Skills Assessment Form
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
