<%= form_with(model: support_request) do |form| %>
  <% if support_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support_request.errors.count, "error") %> prohibited this support_request from being saved:</h2>

      <ul>
        <% support_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :support_request_type__id, value: @support_request_type_id %>
  <div class="field" class="form-group">
    <%= form.label :support_request_type_id %>
    <%= form.select :support_request_type_id, SupportRequestType.pluck(:name, :id) || SupportRequest::TYPES, {}, class: "form-control" %>
  </div>

  <div class="field form-group display-none start-date">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, class: "form-control datepicker", autocomplete:"off" %>
  </div>

  <div class="field form-group end-date">
    <%= form.label :end_date %>
     <%= form.text_field :end_date, class: "form-control datepicker", autocomplete:"off" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :closed, "Status" %>
    <%= form.select :closed, options_for_select([['Open',false],['Completed',true]], selected: support_request.closed), {}, {class: "form-control"} %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :content, "Details" %>
    <%= form.rich_text_area :content, class: "form-control trix-content" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :supporting_doc %>
    <%= form.file_field :supporting_doc, class: "form-control" %>
  </div>



<button type="submit" id="save_support_request" class="btn btn-primary">Save</button>

<% end %>
