
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Support Request</th>
        <th class="d-none d-sm-table-cell">Attachment</th>
        <th class="d-none d-sm-table-cell">Status</th>
        <th>Raised By</th>
        <th class="d-none d-sm-table-cell">Created On</th>
        <th class="d-none d-sm-table-cell">Updated</th>
        
        <th class="d-none d-sm-table-cell"></th>
      </tr>
    </thead>

    <tbody>
      <% @support_requests.each do |support_request| %>
        <tr>
          <td><%= support_request.id %></td>
          <td><%= link_to support_request.req_type, support_request  %></td>
          <td class="d-none d-sm-table-cell"><%= link_to "Download", rails_blob_url(support_request.supporting_doc, disposition: "attachment") if support_request.supporting_doc.attached? %></td>
          <td class="d-none d-sm-table-cell"><%= support_request.status %></td>
          <td><%= support_request.user.full_name %></td>
          <td class="d-none d-sm-table-cell"><%= support_request.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="d-none d-sm-table-cell"><%= support_request.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td class="d-none d-sm-table-cell">
            <%= link_to 'Edit', edit_support_request_path(support_request), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Delete', support_request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


