<table class="table table-bordered table-striped">

<tr>
  <td>
    <strong>Request Id:</strong>
  </td>
  <td>
      <%= @support_request.id %>
    </td>
</tr>


<tr>
  <td>
    <strong>Request:</strong>
  </td>
  <td>
      <%= @support_request.support_request_type.name %>
    </td>
</tr>

<tr>
  <td>
    <strong>Status:</strong>
  </td>
  <td>
      <%= @support_request.status %>

    </td>
</tr>




<tr>
  <td>
    <strong>Details:</strong>
  </td>
  <td>
      <%= @support_request.content %>
  </td>
</tr>


<tr>
  <td>
    <strong>Raised By:</strong>
  </td>
  <td>
      <%= @support_request.user.full_name %>
    </td>
</tr>


<tr>
  <td>
    <strong>Updated By:</strong>
  </td>
  <td>
      <%= @support_request.updated_by.full_name if @support_request.updated_by %>
    </td>
</tr>

<% if (@support_request.start_date && @support_request.end_date).present? %>
  <tr>
    <td><strong>Start Date:</strong></td>
    <td><%= @support_request.start_date.strftime("%m-%d-%Y") %></td>
  </tr>

  <tr>
    <td><strong>End Date</strong></td>
    <td><%= @support_request.end_date.strftime("%m-%d-%Y") %></td>
  </tr>
<% end %>

<tr>
  <td><strong>Created:</strong></td>
  <td><%= @support_request.created_at.strftime("%m-%d-%Y") %></td>
</tr>

<tr>
  <td><strong>Updated:</strong></td>
  <td><%= @support_request.updated_at.strftime("%m-%d-%Y") %></td>
</tr>


<% if @support_request.supporting_doc.attached? %>
<tr>
  <td>
    <strong>Attachment:</strong>
  </td>
  <td>
      <%= link_to "Download", rails_blob_url(@support_request.supporting_doc, disposition: "attachment"), id: "download_link" %>
  </td>
</tr>
<% end %>


</table>
