<%= form_with(model: user_doc) do |form| %>
  <% if user_doc.errors.any? %>
      <div class="alert alert-danger">
          <ul>
            <% user_doc.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          <button type="button" class="close close--icon" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </ul>
      </div>
  <% end %>

  <div class="field" class="form-group">
    <%= form.label :document_type %>
    <%= form.select :document_type_id, DocumentType.pluck(:name,:id) || UserDoc::TYPES, {}, class: "form-control" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field" class="form-group">
    <%= form.label :attachment %>
    <%= form.file_field :attachment, class: "form-control" %>
  </div>



<button type="submit" class="btn btn-primary">Save</button>

<% end %>
