<% if @user.errors.any? %>
    <%= render 'devise/shared/error_messages', resource: @user%>
<% end %>
<%= form_for(@user, url: admin_user_path(@user), html: { method: :put }) do |f| %>

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                   <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= f.text_field :first_name, class:"form-control form-control-user", placeholder:"First Name" %>
                                    </div>
                                    <div class="col-sm-6">
                                        <%= f.text_field :last_name, class:"form-control form-control-user", placeholder:"Last name" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                   <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= f.password_field :password, class:"form-control form-control-user", placeholder:"Password" %>
                                    </div>
                                    <div class="col-sm-6">
                                        <%= f.password_field :password_confirmation, class:"form-control form-control-user", placeholder:"Repeat Password" %>
                                    </div>
                                </div>

                                <input type="Submit" class="btn btn-primary btn-user btn-block", value="Reset Password">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


<% end %>

